/* Universal selector */
* {
    font-family: "GT Walsheim", "Brandon Grotesque", sans-serif; 
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0986ec;
}

h1 {
    font-size: 33px;
}

nav {
    
    font-size: 16px;
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: #222272;
    color: white;
}

main {
    background-color: lightskyblue;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.content > h3 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid black;
    font-size: 3vw;
    line-height: 1.1;
}

.content > div { 
   flex: 0 0 77%;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big-box {
    height: 350px;
    width: 1000px;
    border: 5px solid red;
    background-color: rgb(245, 245, 240);
    color: black;
    margin: 10px;
    transition: all 0.5 ease-in-out; 
}

.small-box {
    height: 170px;
    width: 500px;
    border: 5px solid red;
    background-color: rgb(245, 245, 240);
    color: black;
    margin: 10px;
    transition: all 0.5 ease-in-out; 
}

/* hover effects */
.big-box:hover {
     box-shadow: inset 0 0 50px rgb(60, 60, 66), 0 0 15px rgb(60, 60, 66); 
}

.small-box:hover {
    box-shadow: inset 0 0 50px rgb(60, 60, 66), 0 0 15px rgb(60, 60, 66); 
}

/* Tablet size */
@media screen and (max-width: 992px) {
  header {
    background: #093d55;
  }
}
/* Small tablets or large phones */
@media screen and (max-width: 768px) {
    main {
      background-color: #2903fd;
    }
  }
  /* Phone */
  @media screen and (max-width: 576px) {
    .small-box {
      background-color: #9cc9f7;
    }
  }
  